doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- script(src="/javascripts/recorder-core.js")
        //- script(src="/javascripts/mp3.js")
        //- script(src="/javascripts/mp3-engine.js")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title=title
    body
        div(class='container-fluid')
            div(class='row')
                div(class='col-md-2')
                    block sidebar
                        ul(class='sidebar-nav')
                            li 
                                a(href='/login') Login
                            li 
                                a(href='/register') Register
                            li
                                a(href="/users/msg") My msg
                            li
                                a(href="/group/create") Create group
                            li
                                a(href="/group") All group
                    
                div(class='col-md-8')
                    span 群组名:#{group.groupname} 
                    |
                    a(href="/group/"+group._id+"/channel/create") 创建频道
                    |&nbsp;/&nbsp;
                    a(href="/group/"+group._id+"/rss/create") 创建简易信息聚合
                    |&nbsp;/&nbsp;
                    a(href="/group/"+group._id+"/aggregation/setting") 聚合设置
                    p 频道:
                        each channel,index in group.channel
                            a(href="/group/"+group._id+"/channel/"+channel._id) #{channel.channelname}
                            |
                            if channel.channelname!="Default"
                                |(
                                a(href="/group/"+group._id+"/channel/"+channel._id+"/add") 加入)
                            |(
                            a(href="/group/"+group._id+"/channel/"+channel._id+"/edit") 修改)
                            |
                            if channel.channelname!="Default"
                                |(
                                a(href="/group/"+group._id+"/channel/"+channel._id+"/quit") 退出)
                                |(
                                a(href="/group/"+group._id+"/channel/"+channel._id+"/delete") 删除)

                            if index<group.channel.length
                                |&nbsp;/&nbsp;
                        if(aggregation)
                            a(href="/group/"+group._id+"/aggregation/"+aggregation._id) 我的聚合频道
                    div#msgDiv
                        ul#msg
                            each msg in channel.msg
                                if !msg.user 
                                    li #{channel.channelname} (#{msg.time.getMonth()+1}-#{msg.time.getDate()} #{msg.time.getHours()}:#{msg.time.getMinutes()}) : !{msg.content}
                                    //- if msg.type == "img"
                                    //-     li #{msg.user.username} (#{msg.time.getMonth()+1}-#{msg.time.getDate()} #{msg.time.getHours()}:#{msg.time.getMinutes()}) : !{msg.content}
                                    //- else
                                else
                                    li #{msg.user.username} (#{msg.time.getMonth()+1}-#{msg.time.getDate()} #{msg.time.getHours()}:#{msg.time.getMinutes()}) : !{msg.content}
                        
                        //- ul#recordingslist
                    //- form#f1.form-inline(action="")
                    //-     input#m.form-control(type='text' autocomplete="off" required='true')
                    //-     button.btn.btn-primary(type="button") send
                    if isRss == -1
                        div
                            input#emoji(type="button" value="发送表情")
                            div#emojiWrapper
                            label#imageLable(for="sendImage")
                                //- input(type="button" value="image")
                                input#sendImage(type="file" value="image")
                            //- button(onclick="recopen()") 打开
                            //- button(onclick="recstart()") 录音
                            //- button(onclick="recstop()") 停止
                            //- audio.recPlay(style="width:100%"
                            button#recOpen(type="button") 打开录音
                            button(onclick="startRecording(this)") 开始录音
                            button#rec(onclick="stopRecording(this)" disabled) 停止录音
                            span#log
                            div#d1
                                input#m(autofocus="autofocus" type='text' autocomplete="off" required='true')
                                button#bt.btn.btn-primary(type="button") 发送
                                input#c1(type="checkbox")
                                span#c2 隐藏消息

                div(Class="col-md-2")
                    p 频道公告:
                    p #{channel.announce}
                    hr
                    p 频道用户:
                    each user in channel.user
                        p
                            if user._id != my_id
                                a(href="/users/"+user._id) #{user.username}
                            else
                                span #{user.username}
                    hr
                    if isRss == -1
                        a(href="/group/"+group._id+"/channel/"+channel._id+"/chat") 聊天记录
    script(src="/javascripts/socket.js")